body {
    background-blend-mode: normal, lighten, soft-light;
    align-items: center;
    justify-content: center;
    display: flex;
    display: flex;
    flex-direction: column;
    animation: color-change-5x 8s linear infinite alternate both;
}

@keyframes color-change-5x {
    0% {
      background: #c5a3d6;
    }
    25% {
      background: #3c3f4d;
    }
    50% {
      background: #4d5e69;
    }
    75% {
      background: #838383;
    }
    100% {
      background: #d9adad;
    }
  }
  
  
  
  

.welcome {
    position: relative;
}

div #foxes {
    border: #1b141f;
    border-style: solid;
    border-width: 7px;
    padding: 5px;
}

#foxes {
    animation: mengetik 3s steps(26);
    overflow: hidden;
    white-space: nowrap;
    font-family: Ubuntu, monospace;
    border-right: 5px solid rgb(160, 73, 39);
    width: 26ch;
    position: relative;
    font-size: 3rem;
    padding: 5px;
    margin: 5px;
}

@keyframes mengetik {
    0% {
        width: 0%;
    }
    100%{
        width: 26ch;
    }
}

.input {
  position: relative;
  width: 300px;
  margin-top: 100px;
  right: 13%;
  margin-bottom: 0;
  padding-bottom: 0;
}

#discord {
    font-size: 2em;
    white-space: nowrap;
    font-family: Ubuntu, monospace;
    border: 5px solid rgb(160, 73, 39);
    width: 26ch;
    position: relative;
    margin: 0;
    padding: 0;
    animation: flicker-in-2 3s cubic-bezier(0.600, -0.280, 0.735, 0.045) both;
    border-radius: 5px;
}

@keyframes flicker-in-2 {
    0% {
      opacity: 0;
    }
    10% {
      opacity: 0;
      box-shadow: none;
    }
    10.1% {
      opacity: 1;
      box-shadow: none;
    }
    10.2% {
      opacity: 0;
      box-shadow: none;
    }
    20% {
      opacity: 0;
      box-shadow: none;
    }
    20.1% {
      opacity: 1;
      box-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
    }
    20.6% {
      opacity: 0;
      box-shadow: none;
    }
    30% {
      opacity: 0;
      box-shadow: none;
    }
    30.1% {
      opacity: 1;
      box-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    30.5% {
      opacity: 1;
      box-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    30.6% {
      opacity: 0;
      box-shadow: none;
    }
    45% {
      opacity: 0;
      box-shadow: none;
    }
    45.1% {
      opacity: 1;
      box-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    50% {
      opacity: 1;
      box-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    55% {
      opacity: 1;
      box-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    55.1% {
      opacity: 0;
      box-shadow: none;
    }
    57% {
      opacity: 0;
      box-shadow: none;
    }
    57.1% {
      opacity: 1;
      box-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.3);
    }
    60% {
      opacity: 1;
      box-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.3);
    }
    60.1% {
      opacity: 0;
      box-shadow: none;
    }
    65% {
      opacity: 0;
      box-shadow: none;
    }
    65.1% {
      opacity: 1;
      box-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.3), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    75% {
      opacity: 1;
      box-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.3), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    75.1% {
      opacity: 0;
      box-shadow: none;
    }
    77% {
      opacity: 0;
      box-shadow: none;
    }
    77.1% {
      opacity: 1;
      box-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    85% {
      opacity: 1;
      box-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    85.1% {
      opacity: 0;
      box-shadow: none;
    }
    86% {
      opacity: 0;
      box-shadow: none;
    }
    86.1% {
      opacity: 1;
      box-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    100% {
      opacity: 1;
      box-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
    }
  }
  

#discordTag{
    font-weight: 900;
    font-size: 2em;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

img {
  width: 70px;
}

#tombol {
  margin-top: 5px;
  background-color: #91264f;
  border: none;
  color: white;
  padding: 3px 7px;
  text-align: center;
  display: inline-block;
  font-size: 15px;
  border-radius: 5px;
  border: 2px solid #f7fcf7;
  transition-duration: 0.4s;
}

#tombol:hover {
  background-color: #3d3361; 
  color: white;
}

.blink_me {
  animation: blinker 2s linear infinite;
}

@keyframes blinker {
  80% {
    opacity: 30%;
  }
}

footer {
  position: fixed;
  bottom: 10px;
  right: 10px;
}